@model VakLectorEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="cat-heading">Edit VakLector</h4>

<div class="form-container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VakLectorId" />
        <div class="form-group">
            <label asp-for="LectorId">Lector</label>
            <select asp-for="LectorId" class="form-control">
                <option value="">Please Select</option>
                @foreach (Lector lector in Model.Lectoren)
                {
                    <option value="@lector.LectorId">@lector.Gebruiker.Naam @lector.Gebruiker.VoorNaam</option>
                }
            </select>
            <span asp-validation-for="LectorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VakId">Vak</label>
            <select asp-for="VakId" class="form-control">
                <option value="">Please Select</option>
                @foreach (Vak vak in Model.Vakken)
                {
                    <option value="@vak.VakId">@vak.VakNaam</option>
                }
            </select>
            <span asp-validation-for="LectorId" class="text-danger"></span>
        </div>
        <div class="form-group submit-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
