@model IEnumerable<HogeschoolPxl.Models.Vak>

@{
    ViewData["Title"] = "Vakken";
}
<h3 class="cat-heading">Vakken</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VakNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studiepunten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandboekId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VakNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studiepunten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandboekId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VakId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VakId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VakId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
