@model IEnumerable<HogeschoolPxl.Models.Vak>

@{
    ViewData["Title"] = "Vakken";
}
<h3 class="cat-heading">Vakken</h3>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

<div class="d-flex p-2 flex-wrap">
    @foreach (var item in Model)
    {
    <div class="card m-1">
        <div class="card-header bg-blue">
            @item.VakNaam
        </div>
        <div class="card-body">
            <h5 class="card-title">Studiepunten : @item.Studiepunten</h5>
            <p class="card-text">
                Boek : <a asp-controller="Handboek" asp-action="Details" asp-route-id="@item.Handboek.HandboekId">@item.Handboek.Title</a>
            </p>
            <div class="links">
                <a asp-action="Edit" asp-route-id="@item.VakId" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.VakId" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.VakId" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    }
</div>