@model InschrijvingCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="cat-heading">Create Inschrijving</h4>

<div class="form-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StudentId">Student</label>
            <select asp-for="StudentId" class="form-control">
                <option value="">Please Select</option>
                @foreach (Student student in Model.Studenten)
                {
                    <option value="@student.StudentId">@student.Gebruiker.Naam @student.Gebruiker.VoorNaam</option>
                }
            </select>
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VakLectorId">Vak & Lector</label>
            <select asp-for="VakLectorId" class="form-control">
                <option value="">Please Select</option>
                @foreach (VakLector vakLector in Model.VakLectoren)
                {
                    <option value="@vakLector.VakLectorId">@vakLector.Vak.VakNaam : @vakLector.Lector.Gebruiker.Naam</option>
                }
            </select>
            <span asp-validation-for="VakLectorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AcademieJaarId">AcademieJaar</label>
            <select asp-for="AcademieJaarId" class="form-control">
                <option value="">Please Select</option>
                @foreach (AcademieJaar academieJaar in Model.AcademieJaren)
                {
                    <option value="@academieJaar.AcademieJaarId">@academieJaar.StartDatum.ToLongDateString()</option>
                }
            </select>
            <span asp-validation-for="AcademieJaarId" class="text-danger"></span>
        </div>
        <div class="form-group submit-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
