@model IEnumerable<HogeschoolPxl.Models.AcademieJaar>

@{
    ViewData["Title"] = "AcademieJaren";
}

<h3 class="cat-heading">Academiejaren</h3>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

<div class="d-flex p-2 flex-wrap" style="display: block !important">
    @foreach (var item in Model)
    {
        <div class="card m-1">
            <div class="card-header bg-blue">
                @item.StartDatum.ToLongDateString();
            </div>
            <div class="card-body">
                <h5 class="card-title">Aantal inschrijvingen @item.Inschrijvingen.Count()</h5>
                <p class="card-text">
                    Acadiemejaar loop tot 07/05/@item.StartDatum.AddYears(1).Year
                </p>
                <div class="links">
                    <a asp-action="Edit" asp-route-id="@item.AcademieJaarId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AcademieJaarId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AcademieJaarId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>