@model Gebruiker
@{var photoPath = "/images/" + (Model.ImageUrl ?? "avatar.png");}
<div style="width: 300px">
    <div class="card text-white card-has-bg click-col"
         style=" background-image: url('https://www.pxl.be/Assets/website/pxl_algemeen/afbeeldingen/x-factor.jpg'); ">
        <img class="card-img d-none"
             src="https://source.unsplash.com/600x900/?tech,street"
             alt="Avatar" />
        <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
                <div class="media">
                    <img class="mr-3 rounded-circle"
                         asp-append-version="true"
                         src="@photoPath"
                         alt="Generic placeholder image"
                         style="max-width: 50px" />
                    <div class="media-body">
                        <h6 class="my-0 text-white d-block">@Model.Naam</h6>
                        <small>@Model.VoorNaam</small>
                    </div>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>