@model IEnumerable<HogeschoolPxl.Models.Lector>


@if (!Model.Any())
{
    <div>
        No item founded
    </div>
}
else
{
    <div class="lectoren" id="panel">
        <div style="width: 100%">
            @foreach (Lector lector in Model)
            {
            var photoPath = "/images/" + (lector.Gebruiker.ImageUrl ?? "nogebruiker.png");

            <section>
                <img src="@photoPath" asp-append-version="true" alt="palmaers">
                <span>@lector.Gebruiker.Naam</span>
                <div class="links">
                    <a asp-action="Edit" asp-route-id="@lector.LectorId" class="btn btn-primary">Edit</a>
                    <a asp-controller="Gebruiker" asp-action="Details" asp-route-id="@lector.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@lector.LectorId" class="btn btn-danger">Delete</a>
                    <a asp-action="OwnCourses" asp-route-lectorId="@lector.LectorId" class="btn btn-danger">Vakken</a>
                </div>
            </section>

            }

        </div>
    </div>
}