@model IEnumerable<HogeschoolPxl.Models.Student>


@if (!Model.Any())
{
    <div>
        No item founded
    </div>
}
else
{
    <div class="custom-container" id="panel">
            @foreach (Student student in Model)
            {
                var photoPath = "/images/" + (student.Gebruiker.ImageUrl ?? "nogebruiker.png");

                <div class="card" style="width: 18rem;">
                    <img src="@photoPath" class="card-img-top" alt="@student.Gebruiker.Naam">
                    <div class="card-body">
                        <h3>@student.Gebruiker.Naam @student.Gebruiker.VoorNaam</h3>
                        <div class="links">
                            <a asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@student.StudentId" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>

            }
    </div>
}